apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: metallb-config
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"   # after metallb controller (wave 0)
spec:
  project: default
  source:
    repoURL: https://github.com/pc-dae/observability-poc.git
    targetRevision: main
    path: local-cluster/core/metallb
  destination:
    server: https://kubernetes.default.svc
    namespace: metallb-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - Replace=true
  