# kind-config.yaml
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  - role: control-plane
    extraPortMappings:
      - containerPort: 80
        hostPort: 80
        listenAddress: "0.0.0.0" # optional, default is localhost
        protocol: TCP
      - containerPort: 443
        hostPort: 443
        listenAddress: "0.0.0.0"
        protocol: TCP
    extraMounts:
    - hostPath: /tmp/kind-storage-control
      containerPath: /mnt/kind-storage
  - role: worker
    extraMounts:
    - hostPath: /tmp/kind-storage-control
      containerPath: /mnt/kind-storage
  - role: worker
    extraMounts:
    - hostPath: /tmp/kind-storage-control
      containerPath: /mnt/kind-storage
