extensions:
  health_check: {}
  file_storage:
    directory: /var/lib/otelcol/file_storage
    create_directory: true
    timeout: 1s
    compaction:
      on_start: true
      directory: /var/lib/otelcol/file_storage_compaction

receivers:
  otlp:
    protocols:
      grpc:
      http:
  hostmetrics:
    collection_interval: 10s
    scrapers:
      cpu: {}
      memory: {}
      load: {}
      network: {}
      disk: {}
      filesystem: {}
  filelog:
    include: [ /var/log/syslog, /var/log/auth.log, /var/log/kern.log ]
    start_at: end

processors:
  batch:
    timeout: 1s
    send_batch_size: 1024
  memory_limiter:
    check_interval: 1s
    limit_percentage: 75
    spike_limit_percentage: 15
  resourcedetection:
    detectors: [system]
    timeout: 2s
    override: false
  resource:
    attributes:
    - key: service.name
      value: ubuntu-vm
      action: insert
    - key: host.name
      value: $VM_NAME
      action: insert

exporters:
  prometheusremotewrite/mimir:
    endpoint: "https://mimir.$LOCAL_DNS"
    tls:
      ca_file: /etc/otelcol-contrib/ca.crt
  prometheusremotewrite/victoriametrics:
    endpoint: "https://victoria-metrics.$LOCAL_DNS/insert/0/prometheus/api/v1/write"
    tls:
      ca_file: /etc/otelcol-contrib/ca.crt
  otlphttp/loki:
    endpoint: "https://loki.$LOCAL_DNS/otlp"
    sending_queue:
      enabled: true
      storage: file_storage
    retry_on_failure:
      enabled: true
    headers:
      X-Scope-OrgID: "$VM_NAME"
    tls:
      ca_file: /etc/otelcol-contrib/ca.crt
  splunk_hec:
    token: "$SPLUNK_HEC_TOKEN"
    endpoint: "https://prd-p-fxrik.splunkcloud.com:8088/services/collector/event"
    tls:
      insecure_skip_verify: true
    source: "otel-vm"
    sourcetype: "otel:logs"
    index: "main"
  otlp/newrelic:
    endpoint: "otlp.nr-data.net:4317"
    headers:
      api-key: "$NR_LICENSE_KEY"
  otlphttp/tempo:
    endpoint: "https://tempo.$LOCAL_DNS"
    sending_queue:
      enabled: true
      storage: file_storage
    retry_on_failure:
      enabled: true
    headers:
      X-Scope-OrgID: "$VM_NAME"
    tls:
      ca_file: /etc/otelcol-contrib/ca.crt

service:
  extensions: [health_check, file_storage]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [otlphttp/tempo]
    metrics:
      receivers: [hostmetrics]
      processors: [memory_limiter, resourcedetection, resource, batch]
      exporters: [prometheusremotewrite/victoriametrics, prometheusremotewrite/mimir, otlp/newrelic]
    logs:
      receivers: [filelog]
      processors: [memory_limiter, resourcedetection, resource, batch]
      exporters: [otlphttp/loki, splunk_hec]
