apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: reloader
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://stakater.github.io/stakater-charts'
    chart: reloader
    targetRevision: 1.2.0
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: reloader
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - Replace=true
