apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kyverno
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-options: ServerSideApply=true
spec:
  project: default
  source:
    repoURL: 'https://kyverno.github.io/kyverno'
    chart: kyverno
    targetRevision: v3.2.4 # Use a specific version for stability
    helm:
      releaseName: kyverno
      values: |
        webhooksCleanup:
          image:
            repository: bitnamilegacy/kubectl
        policyReportsCleanup:
          image:
            repository: bitnamilegacy/kubectl
        cleanupJobs:
          admissionReports:
            image:
              repository: bitnamilegacy/kubectl
          clusterAdmissionReports:
            image:
              repository: bitnamilegacy/kubectl
          updateRequests:
            image:
              repository: bitnamilegacy/kubectl
          ephemeralReports:
            image:
              repository: bitnamilegacy/kubectl
          clusterEphemeralReports:
            image:
              repository: bitnamilegacy/kubectl
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: kyverno
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - ServerSideApply=true
