apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: argocd-server-tls
  namespace: argocd
spec:
  secretName: argocd-server-tls
  issuerRef:
    name: local-ca-issuer
    kind: ClusterIssuer
  commonName: argocd.{{ .Values.dnsSuffix }}
  dnsNames:
  - argocd.{{ .Values.dnsSuffix }}
  - argocd-server.argocd.svc
